In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [36]:
dataset = pd.read_csv('Data.csv')
X = dataset.drop('Purchased',axis=1)
y = dataset['Purchased']

In [37]:
# Missing Data

In [38]:
from sklearn.impute import SimpleImputer

In [39]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X.drop('Country',axis=1))
X[['Age','Salary']] = imputer.transform(X.drop('Country',axis=1))

In [40]:
# Encoding Categorial Independent Data (Xn)

In [41]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [42]:
colTrans = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0])],remainder='passthrough')

In [44]:
X = pd.DataFrame(colTrans.fit_transform(X))

In [46]:
# Encoding Categorial Dependent Data (y)

     0    1    2          3             4
0  1.0  0.0  0.0  44.000000  72000.000000
1  0.0  0.0  1.0  27.000000  48000.000000
2  0.0  1.0  0.0  30.000000  54000.000000
3  0.0  0.0  1.0  38.000000  61000.000000
4  0.0  1.0  0.0  40.000000  63777.777778
5  1.0  0.0  0.0  35.000000  58000.000000
6  0.0  0.0  1.0  38.777778  52000.000000
7  1.0  0.0  0.0  48.000000  79000.000000
8  0.0  1.0  0.0  50.000000  83000.000000
9  1.0  0.0  0.0  37.000000  67000.000000