In [1]:
# Series
import numpy as np
import pandas as pd

labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

pd.Series(my_data,labels)

pd.Series(arr,labels)

pd.Series(d)

ser1 = pd.Series([1,2,3,4],['USA','Ger','USSR', 'Japan'])

ser2 = pd.Series([1,2,5,4],['USA', 'Ger','Italy','Japan'])

ser1['USA']

ser1 + ser2



# Data Frame
from numpy.random import randn
np.random.seed(101)

df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

df

df[['W','Z']]

df['new'] = df['W'] + df['Y']

df

df.drop('new',axis=1)

df.loc['E'] # getting rows of the data frames

df.iloc[4]

df.loc['B':,'Y']

df.loc['C':,'Y':]

df[df > 0]

df[df['W']>0]

df[df['W']>0][['X','Y']]

df[(df['W']>0) & (df['Y']>0)]

df.reset_index()

newind = 'CA NY WY OR CO'.split()

df['States'] = newind

df.set_index('States')



# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

df = pd.DataFrame(randn(6,2), hier_index,['A','B'])

df

df.loc['G1'].loc[1]

df.index.names = ['Groups','Num']

df.loc['G2'].loc[2]['B']

df.xs(2,level='Num')



# Missing Data

d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

df = pd.DataFrame(d)

df.dropna(axis = 1,thresh=2)

df['A'].fillna(df['A'].mean())



# Groupby

data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

df = pd.DataFrame(data)

byComp = df.groupby('Company')

byComp.describe()

byComp.std()

# Merging, Joining, Concatenating
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

pd.concat([df1,df2,df3])

left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})    

pd.merge(left,right,how='inner',on='key')

left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

pd.merge(left,right,how='inner',on=['key1','key2'])

left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

left.join(right)

df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

df['col2'].unique()

df['col2'].value_counts()

df[(df['col1']>2) & (df['col2']==444)]

df['col2'].apply(lambda x: x*2)

df['col3'].apply(len)

df.columns

df.sort_values('col2')

df.isnull()

data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

df.pivot_table('D', ['A','B'],'C')

# Reading Data

pd.read_csv('example.csv')

df = pd.read_csv('example.csv')

df.to_csv('My_OutPut_Example', index=False)

pd.read_excel('Excel_Sample.xlsx', sheet_name = 'Sheet1')

data = pd.read_html("https://www.fdic.gov/bank/individual/failed/banklist.html")

from sqlalchemy import create_engine

engine = create_engine('sqlite:///:memory:')

df.to_sql('my_table', con = engine)

In [243]:
import pandas as pd

In [244]:
data = pd.read_csv("Ecommerce_Purchases.csv")

In [246]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null int64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [397]:
at = pd.DataFrame(data['Email'].str.find('@'))

In [398]:
data.insert(loc=10, column="At", value = at)

In [487]:
for i in range(data['Email'].size):
    data['Email'][i] = data['Email'][i][at[i]+1:]

<ipython-input-487-f8f3ad0ec5e2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Email'][i] = data['Email'][i][at[i]+1:]

In [503]:
df = data.groupby(data['Email']).count()

In [511]:
df.sort_values(by=['Address'], ascending=False).head()['Address']

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Address, dtype: int64

In [446]:
at = pd.DataFrame(data['Email'].str.find('@'))
data.insert(loc=10, column="At", value = at)
copy_data = data.copy()
for i in range(copy_data['Email'].size):
    copy_data['Email'][i] = copy_data['Email'][i][at[i]+1:]
df = data.groupby(data['Email']).count()
df.sort_values(by=['Address'], ascending=False).head()['Address']
data.drop(columns = 'At', inplace = True)