In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('50_Startups.csv')

In [18]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [15]:
X = df.drop('Profit',axis=1)
y = df['Profit']

In [39]:
X = pd.concat([X.drop('State',axis=1),pd.get_dummies(X['State'])],axis=1)

# in Multiple Regression there is no need to do feature scaling

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train,y_train)

predicts = model.predict(X_test)

val = pd.DataFrame(y_test)

val['Predicts'] = predicts

val.index=np.arange(len(val))

plt.plot(val)